*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	padding-top: 56px;
	font-family: 'Arial', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #000000;
}

.container {
	width: 1140px;
	margin: 0 auto;
	padding: 0 20px;
}

img {
	vertical-align: middle;
	object-fit: cover;
}

/* Header  */

.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	background-color: #ffffff;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.header .container {
	display: flex;
	align-items: center;
}

.header-logo-link {
	transition: opacity 0.2s ease;
}

.header-logo-link:hover {
	opacity: 0.8;
}

.header-logo-link:active {
	opacity: 0.4;
}

.header-right {
	display: flex;
	align-items: center;
	margin-left: auto;
}
.nav {
	margin-right: 8px;
}

.nav-list {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.nav-item:nth-child(2) {
	position: relative;
}

.nav-link {
	display: inline-block;
	padding: 16px;
	padding-bottom: 13px;
	text-decoration: none;
	color: #000000;
	border-bottom: 3px solid transparent;
	transition: border-color 0.2s ease, background-color 0.2s ease,
		border-color 0.2s ease;
}

.nav-link:hover {
	border-color: #191919;
}

.nav-link:active {
	color: #ffffff;
	background-color: rgba(25, 25, 25, 0.7);
	border-color: transparent;
}

.nav-sub-list {
	position: absolute;
	top: 100%;
	right: 50%;
	width: 125px;
	display: none;
	margin: 0;
	padding: 8px 0;
	list-style-type: none;
	background-color: #ffffff;
	border-radius: 5px;
	box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
	transform: translateX(50%);
}

.nav-sub-link {
	display: block;
	padding: 8px 16px;
	text-decoration: none;
	white-space: nowrap;
	color: #000000;
	transition: background-color 0.2s ease, color 0.2s ease, opacity 0.2s ease;
}

.nav-sub-link:hover {
	background-color: #00bafc;
	color: #ffffff;
}

.nav-sub-link:active {
	opacity: 0.6;
}

.nav-item:nth-child(2):hover .nav-sub-list {
	display: block;
}

.header-tel-link {
	width: 160px;
	padding: 8px;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	background-color: #00bafc;
	border-radius: 5px;
	transition: color 0.2s ease, background-color 0.2s ease,
		box-shadow 0.2s ease, opacity 0.2s ease;
}

.header-tel-link:hover {
	color: #00bafc;
	background-color: #ffffff;
	box-shadow: inset 0 0 0 3px #00bafc;
}

.header-tel-link:active {
	color: #ffffff;
	background-color: #00bafc;
	opacity: 0.5;
}

.services .container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 220px;
}

.services-info {
    width: 720px;
    margin: 0 auto;
}

.services-heading {
    margin-top: 56px;
    margin-bottom: 16px;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
	line-height: 31px;
}

.services-text {
	width: 720px;
    margin: 0 auto;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.service-section .container {
    padding: 80px 20px;
}

.service-section {
    background-color: #F4F4F4;
}

.service-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 805px;
    margin: 0 auto;
    margin-bottom: 64px;
    padding: 32px;
    background: #FFFFFF;
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
}

.service-item:last-child {
    margin-bottom: 0;
}

.service-item::before {
    content: "";
    width: 200px;
    height: 200px;
    background-image: url(../image/website-illustration.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.service-item:nth-child(2)::before {
    background-image: url(../image/bot-illustration.png);
}

.service-item:nth-child(3)::before {
    background-image: url(../image/smm-illustration.png);
}

.service-item:nth-child(4)::before {
    background-image: url(../image/design-illustration.png);
}

.service-item:nth-child(5)::before {
    background-image: url(../image/crm-illustration.png);
}

.service-info {
    width: 500px;
}

.service-info .service-heading {
    text-align: start;
}

.service-info .service-text {
    margin-bottom: 16px;
}

.servive-sublist {
    margin-bottom: 16px;
}

.service-sublist-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    line-height: 24px;
}

.service-sublist-item:last-child {
    margin: 0;
}

.service-sublist-item::before {
    content: "";
    width: 12px;
    height: 12px;
    margin-right: 8px;
    background-color: #00BAFC;
    border-radius: 50%;
}

.service-info .service-button {
    margin-right: 16px;
}

.service-button {
    padding: 8px 16px;
    font-weight: 700;
    line-height: 24px;
    color: #FFFFFF;
    background-color: #00BAFC;
    border: none;
    border-radius: 5px;
    transition: background 0.1s ease-out;
}

.service-button:hover {
    background-color: rgba(0, 186, 252, 0.8);
}

.service-button:active {
    background-color: rgba(0, 186, 252, 0.6);
}

.service-link {
    text-align: center;
    text-decoration: underline;
    color: #00BAFC;
}
/* FORM */

.order .container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 55px;
    padding-bottom: 220px;
    background-color: #00BAFC;
}

.order-info {
    width: 720px;
    margin: 0 auto;
}

.order-heading {
    margin-top: 56px;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 24px;
	text-align: center;
    color: #FFFFFF;
}

.order-paragraph {
    margin: 0 auto;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.personal-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    padding: 24px;
    margin-left: 200px;
    margin-top: 24px;
	border-radius: 10px;
	border: 1px solid #FFFFFF;
	background-color: #FFFFFF;
}

.data-input {
    appearance: none;
    border: none;
    width: 300px;
    height: 56px;
    margin: 16px 0;
    padding: 16px;
    outline: none;
    color: #000000;
    background: #F3F3F3;
    border-radius: 5px;
}


.data-input::placeholder {
    font-size: 16px;
    line-height: 24px;
    text-align: start;
    color: #000000;
}

.personal-button {
    width: 167px;
    height: 40px;
    left: 90.5px;
    top: 240px;
    background-color: #00BAFC;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
	width: 1140px;
	height: 340px;
	background-color: #191919;
	color: #FFFFFF;
}

.footer-info {
    width: 320px;
	margin-top: 56px;
}

.footer-heading {
    width: 150px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
	margin-top: 56px;
    margin-bottom: 16px;
    margin-left: 100px;
}

.footer-paragraph {
    width: 320px;
    font-size: 16px;
    line-height: 28px;
	margin-top: 56px;
	margin-bottom: 56px;
    margin-left: 100px;
	
}

.footer-list {
    display: flex;
	align-items: center;
    justify-content: center;
    width: 145px;
	margin-top: 56px;
	margin-left: 100px;
	margin: 87px;
    list-style-type: none;
    /* text-align: center; */
}

.footer-item-heading {
	width: 143px;
    margin-top: 56px; 
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}

.footer-sublist {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer-sublist-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
	text-decoration: none;
}

.footer-sublist-link:hover {
	color: #00BAFC;
	background-color:#000000;
}

.footer-sublist-link:active {
	opacity: 0.6;
}
